body {
    background: linear-gradient(45deg, #f3bc7d, #f0f0f0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure at least 100% viewport height */
    font-family: 'Arial', sans-serif;
}

.card-wrapper {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 740px;
    height: 680px;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transform-origin: center;
}

.left-page,
.right-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background: linear-gradient(90deg, snow 1px, #f0f0f0 1px);
    background-size: 5px 5px;
    overflow: hidden; /* Ensures gif doesn't overflow */
}

.left-page {
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: #2e2e2e;
    max-width: 70%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 30px;
}

.right-page {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.inner-content {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: #2e2e2e;
    max-width: 70%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 30px;
}

.left-page img {
    width: 100%; /* Set the width to 100% to make the GIF responsive within its container */
    max-width: 100%; /* Ensure the GIF doesn't exceed its original size */
}
